.footer
  .footer-left
    .title
      QuickLinks
      Contact Us
  .pull-right.text-muted
    = raw("<i class = 'glyphicon glyphicon-copyright-mark'></i>#{link_to 'OstryaLabs.', 'http://www.ostryalabs.com', :class =>"text-muted"} All Rights Reserved")
    = raw("<i class = 'fa fa-facebook fa-3x'></i>")
    = raw("<i class = 'fa fa-twitter fa-3x'></i>")
    = raw("<i class = 'fa fa-linkedin fa-3x'></i>") 
    = raw("<i class = 'fa fa-google-plus fa-3x'></i>") 
    = raw("<i class = 'fa fa-youtube fa-3x'></i>")

