.row
  .col-sm-6
    .body-image
      %br
      %br
      = image_tag "1.jpg",:id =>"body-image"
      = image_tag "2.jpg",:id =>"logo"
      = image_tag "6.jpg",:id =>"logo"
    .body-navigation
      %h4 RESIDENTIAL
      %br
      %button.btn.btn-primary.btn-cons{type: "button"} Buy Indipendent House
      %br Buy Indipendent House
      %br Buy Indipendent villa
      %br Buy Apartment
      %br Buy Apartment
      %br Buy Indipendent House 
      
  .col-sm-6
    .body-image
      %br
      %br
      = image_tag "4.jpg",:id =>"body-image" 
      = image_tag "15.jpg",:id =>"logo"
      = image_tag "16.jpg",:id =>"logo"
    .body-navigation
      %h4 COMMERCIAL
      %br Buy Commercial Building
      %br Buy Retails Show Room/Shop
      %br Office Complex
      %br WareHouse
      %br Industrial Estate
      %br SEZ
      
.row
  .col-sm-6
    .body-image
      %br
      %br
      = image_tag "2.jpg",:id =>"body-image" 
      = image_tag "5.jpg",:id =>"logo"
      = image_tag "3.jpg",:id =>"logo"
    .body-navigation
      %h4 LAND
      %br
      %br Residential Land
      %br Commercial Land
      %br Industrial Land
      %br Agricultural Land
      %br form House Land 
  .col-sm-6
    .body-image
      %br
      %br
      = image_tag "42.jpg",:id =>"body-image" 
      = image_tag "45.jpg",:id =>"logo"
      = image_tag "48.jpg",:id =>"logo"
    .body-navigation
      %h4 RENT/PG
      %br
      %br Apartments/Flats
      %br Individual Houses
      %br Serviced Apartments
      %br Office Space
      %br Rent your Property
      
