.row
  .col-sm-6
    /%h4{align: "center"}   RESIDENTIAL 
    .body-image1
      /%h4{align: "center"} RESIDENTIAL
      =image_tag "11.jpg",:id =>"property-logo"
    .body-image
      %h4{align: "left"}
        %font{color: "orange"} RESIDENTIAL      
      = link_to "Independent House", property_results_home_index_path, :class => 'customlabel'
      %br
      = link_to "Apartment", property_results_home_index_path, :class => 'customlabel'     
      %br
      = link_to "Independent Villa", property_results_home_index_path, :class => 'customlabel'
      %br
      = link_to "Flat", property_results_home_index_path, :class => 'customlabel'
      %br    
      = link_to "Farm House", property_results_home_index_path, :class => 'customlabel'
      %br
      = link_to "Other Residential", property_results_home_index_path, :class => 'customlabel'
  .col-sm-6
    .body-image1
      =image_tag "23.jpg",:id =>"property-logo"     
    .body-image
      %h4{align: "left"}
        %font{color: "orange"} COMMERCIAL
      = link_to "Commercial Space", property_results_home_index_path, :class => 'customlabel'
      %br       
      = link_to "Office Space", property_results_home_index_path, :class => 'customlabel'
      %br         
      = link_to "IT/Software Technology Park", property_results_home_index_path, :class => 'customlabel'
      %br       
      = link_to "Industrial Space", property_results_home_index_path, :class => 'customlabel'
      %br       
      = link_to "Warehouse", property_results_home_index_path, :class => 'customlabel'
      %br      
      = link_to "Hotel/Resort", property_results_home_index_path, :class => 'customlabel'
.row      
  .col-sm-6
    .body-image1
      =image_tag "36.jpg",:id =>"property-logo"   
    .body-image
      %h4{align: "left"}
        %font{color: "orange"} LAND
      = link_to "Residential Land", property_results_home_index_path, :class => 'customlabel'
      %br       
      = link_to "Commercial Land", property_results_home_index_path, :class => 'customlabel'
      %br        
      = link_to "Industrial Land", property_results_home_index_path, :class => 'customlabel'
      %br
      = link_to "Agricultural Land", property_results_home_index_path, :class => 'customlabel'
      %br       
      = link_to "Farm House Land", property_results_home_index_path, :class => 'customlabel'
      %br       
      = link_to "Land", property_results_home_index_path, :class => 'customlabel' 
  .col-sm-6
    .body-image1
      =image_tag "46.jpg",:id =>"property-logo"   
    .body-image
      %h4{align: "left"}
        %font{color: "orange" } RENT/LEASE
      = link_to "Apartments/Flats", property_results_home_index_path, :class => 'customlabel'
      %br       
      = link_to "Individual Houses", property_results_home_index_path, :class => 'customlabel'
      %br          
      = link_to "Villas", property_results_home_index_path, :class => 'customlabel'
      %br        
      = link_to "Serviced Apartments", property_results_home_index_path, :class => 'customlabel'
      %br
      = link_to "Office Space", property_results_home_index_path, :class => 'customlabel'
      %br
      = link_to "Industrial space", property_results_home_index_path, :class => 'customlabel'
